@import './base.css';

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('../assets/wavy-lines.svg');
  background-size: cover;
  user-select: none;
  height: 100vh;
  width: 100%;
}

.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 140px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #8075FF);
}

.text {
  font-size: 20px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}


.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #8075FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #8075FF 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: #8075FF;
  opacity: 0.7;
  transition: all 0.3s;
}

.action button:hover {
  transform: scale(1.05);
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  opacity: 1;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}
